body { 
  margin: auto;
  padding: 25px;
  max-width: 800px;
}

h1 {
  font-size: 30px;
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

div {
  margin:0px;
  padding:0px;
  border-style:hidden;
}

div.pad {
  margin:20px;
  padding: 20px;
}

div.outline {
  border: 2px solid black;
}

div.wrapper {
  display:flex;
}

/*
table, th, td {
  font-size: 12px;
  border: 2px solid grey;
}
*/
h2 {
  text-align: left;
}


